*{
    font-family: sans-serif;
}

.heading {
    color: white;
    padding: 30px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.headerLogo{
    font-size: 25px;
    font-weight: 800;
}

.sitePages a{
    padding: 5px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 200;
}

.splash{
    height: 200px;
    color: white;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 80px;
    padding-left: 350px;
    padding-right: 350px;
}

.main{
    color: white;
    font-family: sans-serif;
    margin: 10px;
}

.main button{
    background-color: #3882F6;
    color: white;
    font-weight: 800;
    border-radius: 12px;
    padding: 5px;
    border: none;
}

.image{
    min-width: 300px;
    min-height: 100px;
    padding: 30px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.100);
}

.middle, .middle-two{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff; 
    padding: 80px;
}

.middle h1{
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-reel p{
   text-align: center;
}

.image-reel{
    text-align: center;
}
.reel-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    border-style: solid;
    border-color: #3882F6;
    padding: 5px;
    border-radius: 15px;
}

.middle-two{
    background-color: #E5E7EB;
}